<html>
<head><title>know more</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <div class ='p-4 m-4'>
            <div class ='col-lg-4 mx-auto border rounded pt-4' >
            <form action="{% url 'payment:credentials' %}" method='POST' onsubmit="credentialsSubmit()">{% csrf_token %}
            
                <h3 class='alert alert-light border rounded'>Informations</h3>
                <div class="form-group">
                    <label for="exampleInputname1">name</label>
                    <input type="name" name='name' class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name='email' class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name='password' class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">address</label>
                    <input type="address" name='address' class="form-control form-control-sm" id="exampleInputaddress" placeholder="address">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">pin</label>
                    <input type="pin" name='pin' class="form-control form-control-sm" id="exampleInputpin" placeholder="pin">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">phone number</label>
                    <input type="phone" name='phone' class="form-control form-control-sm" id="exampleInputphone" placeholder="phone number">
                </div>

                <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
      </div>
      <script>
        function credentialsSubmit(e){
            e.preventDefault()
        }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>