<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>dekhatis</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  <link rel="icon" href="{% static '/images/Logo.png' %}" type="image/x-icon">
</head>

<body>
  {% include 'frontend/navbar.html' %}
<form method ='POST'>{% csrf_token %}
   <div class="input-group mb-3">
    <input type="search" class="form-control" name='search' placeholder="product search" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
      <button class="btn btn-outline-secondary" type="submit">search</button>
   </div>
</form>
<h1 class="text-xl font-light text-[rgb(50,50,50)] mt-3 mb-3">Categories</h1>
    <div class="bg-gray-100 flex w-3/4 p-4">
      <a href="/categories/?categories=sofa" class="text-lg mx-2 text-gray-700 font-light" id="sofa"><i
          class="fa-solid fa-couch mx-1"></i>Sofas</a>
      <a href="/categories/?categories=bed" class="text-lg mx-2 text-gray-700 font-light" id="bed"><i
          class="fa-solid fa-bed mx-2"></i>Beds</a>
    </div>
</body>
</html>