{% load tailwind_tags %}
{% load static %}
<link rel="stylesheet" href={% static 'css/navbar.css' %}>
<div class='nav'>
  {% tailwind_css v="2" %}
  {% if user.is_authenticated %}
  <div>
    <a href="/"><button type="button" class="sitename">DeKhaties</button></a>
  </div>
  <div class="interact">
    <a href="{% url 'addcart' %}"><button type="button" class=""><i
          class="fa-solid fa-cart-shopping icons"></i></button></a>
    <h3 class="username">{{ user }}</h3>
    <button id="userButton"><i class="fa-solid fa-circle-user icons"></i></button>
    <div id="dropdown" class="dropdown">
      <a class="box" href="#">Your Account</a>
      <a class="box logout" href="{% url 'authentications:signout' %}">Logout<i
          class="fa-solid fa-right-to-bracket icons"></i></a>
    </div>
  </div>

  {% else %}
  <div>
    <a href="/"><button type="button" class="sitename">DeKathis</button></a>
  </div>
  <button id="userButton"><i class="fa-solid fa-circle-user icons"></i></button>
  <div class="userDropdown" id="dropdown">
    <!-- <a href="{% url 'authentications:signup' %}" class="authButton"><button type="button">Signup</button></a> -->
    <a href="{% url 'authentications:signin' %}" class="authButton"><button type="button">Signin</button></a>
  </div>
  {% endif %}
</div>

<div class="nav">
  <div class="sortDropdown">
    <button><i class="fa-solid fa-bars"></i></button>
  </div>
  <form method='POST'>{% csrf_token %}
    <div class="search">
      <input type="search" name='search' placeholder="Search" required>
      <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
</div>


<script src="https://kit.fontawesome.com/604d14a4e6.js" crossorigin="anonymous"></script>
<script src={% static 'js/dropdown.js' %}></script>